<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <a class="nav-link ps-4 pe-4" href="/nft_creator">NFT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ps-4 pe-4" href="/website_creator">Website</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active ps-4 pe-4" href="/tokengating">Tokengating</a>
  </li>
  <li class="nav-item">
    <a class="nav-link ps-4 pe-4" href="/blink">Blink</a>
  </li>
</ul>

<h4>Tokengating</h4>

<% if current_user.site&.finished? %>
  <%= form_with model: current_user.site do |f| %>
    <div class="mb-3">
      <%= f.label :tokengating_title, 'Page title', class: 'form-label' %>
      <%= f.text_field :tokengating_title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :tokengating_content, 'Tokengated content', class: 'form-label' %>
      <%= f.text_area :tokengating_content, class: 'form-control', rows: '15' %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>Please create a mint website to manage tokengating.</p>
<% end %>
